.editor-content {
  display: flex;
  gap: 40px;
}

.item-container {
  display: flex;
  flex-direction: column;
  width: 20%;
  gap: 20px;
  border: 3px solid black;
  padding: 16px;
  color: #fff;
}

.item-container {
  background-color: rgba(26, 26, 26, 0.35);
}

.item-container h2 {
  font-size: 24px;
}

.add-item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  gap: 12px;
}

.add-item input {
  box-sizing: border-box;
  border: none;
  outline: none;
  padding: 8px;
  margin-top: 8px;
  width: 100%;
  background: rgba(255, 255, 255, 0.05);
  color: #fff;
}

.admin-btn {
  margin: 0 auto;
  padding: 8px;
  border: none;
  border-radius: 16px;
  width: 90%;
  font-size: 16px;
  color: #fff;
  background: rgba(255, 255, 255, 0.05);
}

.item-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.success-notification, .end-notification {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 10px;
  right: 0px; /* Начальное состояние, элемент скрыт за пределами экрана */
  height: 20px;
  background-color: #1c1c1c;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}


#progress::-webkit-progress-bar {background-color: black; width: 100%;}
#progress {background-color: black; width: 100%;}

#progress::-webkit-progress-value {background-color: rgba(255, 255, 255, 0.05) !important;}
#progress::-moz-progress-bar {background-color: rgba(255, 255, 255, 0.05) !important;}
#progress {color: rgba(255, 255, 255, 0.05);}

.success-notification {
  animation: success-animation 0.5s ease-in-out forwards;
}

.end-notification {
  animation: back-animation 1s ease-in-out forwards;
}

@keyframes success-animation {
  100% {
    right: 0px;
  }
  0% {
    right: -500px;
  }
}

@keyframes back-animation {
  100% {
    right: -500px;
  }
}
