.apartments-header {
  top: 0;
  background-image: none;
  height: auto;
}

.apartments-header::after {
  display: none;
}

.apartments-container {
  display: flex;
  margin-top: 120px;
}

.apartments-main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.apartments-main h1 {
  font-size: 56px;
  margin-bottom: 64px;
}

.apartment-user-box {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.apartment-user-container {
  width: 30%;
}

.apartments-filter {
  padding: 32px;
  margin-right: 16px;
  font-weight: 100;
  background: #32323271;
  border-radius: 8px;
  color: #000;
  font: serif;
}

.apartments-filter h4 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 28px;
}

.apartment-item-user {
  color: #000;
}

.apartments-main-tbody {
  
}

.apartments-main-td {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}

.apartments-main-th {
  text-align: left;
  width: 10%;
}

.apartments-main-img {
  width: 80px;
  height: 80px;
}