.apartments-header {
  top: 0;
  background-image: none;
  height: auto;
}

.apartments-header::after {
  display: none;
}

.apartments-container {
  display: flex;
  margin-top: 120px;
}

.apartments-main {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.apartments-main h1 {
  font-size: 56px;
  margin-bottom: 64px;
}

.apartment-user-box {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.apartment-user-container {
  cursor: pointer;
  width: 30%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.145);
  transition: all 0.2s;
}

.apartment-user-container:hover {
  background: rgba(0, 238, 255, 0.05);
}

.apartments-filter {
  padding: 32px;
  margin-right: 64px;
  font-weight: 100;
  height: 340px;
  background: #32323271;
  border-radius: 8px;
  color: #000;
}

.filter-reset {
  white-space:nowrap;
}

.apartments-filter h4 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 28px;
}

.apartment-item-user {
  color: #000;
}

.apartments-main-thead {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.apartments-main-tbody {
  font-size: 20px;
}

.apartments-main-td {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  vertical-align: middle;
}

.apartments-main-th {
  text-align: left;
  width: 10%;
}

.apartments-main-td {
  padding: 8px 0px;
}

.apartments-main-img {
  width: 80px;
  height: 80px;
  margin-left: 30px;
}

.apartments-main-img:hover {
  
}