.admin-page {
  position: relative;
  font-family: 'ubuntu';
  background: #F4F5FA;
  font-weight: 400;
  height: 100vh;
  display: grid;
  grid-template-columns: fit-content(240px) 1fr;
  grid-template-rows: 50px auto;
  grid-gap: 20px;
}

.admin-page::before {
  content: '';
  position: absolute;
  background-image: url(../imgs/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.admin-page::after {
  content: '';
  position: absolute;
  background: #000;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.admin-page * {
  z-index: 1;
}

.admin-header {
  display: flex;
  background: rgba(255, 255, 255, 0.4);
  justify-content: center;
  align-items: center;
  grid-column-end: 3;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-row-start: 1;
  width: 100%;
}

.admin-aside {
  background: rgb(16, 16, 16);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 120px;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-row-start: 1;
  padding: 10px 0px;
  max-height: 100vh;
}

.admin-header--p {
  font-weight: 600;
  font-size: 20px;
  margin-right: 16px;
}

.admin-aside-btn {
  background: none;
  outline: none;
  border: none;
}

.admin-aside-img {
  width: 20px;
}

.admin-aside-nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.aside-nav-btn {
  padding: 20px 12px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.485);
  text-decoration: none;
  transition: all 0.2s;
}

.aside-nav-btn:hover {
  color: #44b3b4;
}

.admin-page select {
  color: #fff;
  box-sizing: border-box;
  border: none;
  outline: none;
  padding: 0px 8px 4px;
  margin-top: 8px;
  width: 100%;
  color: #fff;
  background: none;
}

.admin-page option {
  background: #000;
}

.admin-page option:hover {
  background: rgba(255, 255, 255, 0.5);
}