.full-review * {
  color: #fff;
}

.full-review {
  display: flex;
  gap: 30px;
}

.review-button {
  border-radius: 0px;
  width: 100%;
}

.full-review-buildings ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.status-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 16px;
}

.status-buttons td {
  width: 100%;
}

.status-button {
  border-radius: 0px;
  width: 100%;
}

.selected {
  background: rgb(255 255 255 / 20%);
}

.full-review-apartments tbody {
  border: 16px;
}

.full-review-apartment-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.full-review-input {
  width: 100%;
  outline: none;
  margin-top: 0px;
  box-sizing: border-box;
}