.infrastructure-container {
  margin-top: 120px;
  display: flex;
}

.infrastructure-img img {
  width: 800px;
}

.infrastructure-text {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.infrastructure-text h4 {
  font-size: 40px;
}

.infrastructure-text p {
  font-size: 20px;
  max-width: 90%;
  color: rgba(0, 0, 0, 0.7);
}

.infrastructure-ul {
  margin-top: 16px;
}

.infrastructure-li {
  display: flex;
  gap: 16px;
  margin-top: 16px;
  align-items: center;
}

.infrastructure-li--text {
  list-style-type:circle;
}

.infrastructure-li--img {
  height: 20px;
}

.infrastructure-img {
  position: relative;
}

.infrastructure-img::before {
  content: "";
  position: absolute;
  left: -160px;
  bottom: 0;
  background-image: url(../imgs/cat.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 0;
  height: 300px;
  width: 300px;
}
