@media (max-width: 768px) {
  .container {
    max-width: 768px;
  }

  .header-block {
    flex-direction: column;
  }

  .header-ul {
    flex-direction: column;
  }

  .header-block {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #333;
    transition: left 0.6s ease;
  }

  .menu-open {
    position: fixed;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #333;
    transition: left 0.6s ease;
  }

  .header-callback {
    flex-direction: column;
    margin: 16px auto;
  }

  .header-callback a {
    margin-bottom: 16px;
  }

  .main-content {
    width: 90%;
    margin: 0 auto;
  }

  .main-container {
    margin-top: 32px;
  }

  .about-title-h4 {
    font-size: 28px;
  }

  .about-text {
    display: none;
  }

  .about-text-mobile {
    display: block;
  }

  .about-text-mobile p {
    margin-top: 32px;
  }

  .user-aside-btn img{
    width: 40px;
  }

  .user-aside-btn {
    position: absolute;
    display: block;
    top: 10px;
    left: 250px;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
  }

  .about-item {
    flex-direction: column;
  }

  .about-text {
    flex-direction: column;
  }

  .slider-box {
    margin-top: 32px;
  }

  .slick-slider {
    width: 100%;
  }

  .slick-slider button {
    z-index: 1;
  }

  .slick-slider .slick-next {
    right: 4px;
  }

  .slick-slider .slick-prev {
    left: 4px;
  }

  .slick-list img {
    width: 630px;
    height: 440px;
    object-fit: cover;
    object-position: right;
  }

  .slider-box::before {
    left: -16px;
    bottom: -40px;
    height: 125px;
    width: 100px;
  }

  .about-textBlock {
    margin: 0;
  }

  .item-info {
    font-size: 28px;
  }

  .item-paragraph {
    font-size: 20px;
    margin-bottom: 24px;
  }

  .about-items {
    margin-top: 80px;
    gap: 60px;
  }

  .about-item--slider {
    width: 100%;
    order: 2;
  }

  .about-item--text {
    order: 1;
  }

  .location-text-block {
    flex-direction: column;
  }

  .infrastructure-container {
    margin-top: 60px;
    flex-direction: column;
  }

  .infrastructure-text h4 {
    font-size: 28px;
  }

  .infrastructure-img {
    margin-top: 32px;
  }

  .infrastructure-img::before {
    left: -40px;
    width: 120px;
    height: 120px;
  }

  .infrastructure-img img {
    width: 90vw;
  }

  .about-item--img img {
    width: 90vw;
  }

  .useless-block-text {
    padding: 0;
  }
}