.container {
  max-width: 1440px;
  margin: 0 auto;
}

.main-header {
  height: 100vh;
  background-size: cover;
  background-image: url(../imgs/headerBG.png);
  background-repeat: no-repeat;
  background-position: center;
}

.main-header::after {
  content: '';
  position: absolute;
  background: #000;
  height: 100vh;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.main-container {
  margin-top: 120px;
}

.main-container img {
  border-radius: 10px;
}

.header-container {
  position: fixed;
  background-color: #323232;
  max-width: 100%;
  width: 100%;
  z-index: 2;
  box-shadow:
  inset rgba(0, 0, 0, 0.2) 0 -1px 16px,
  rgba(0, 0, 0, 0.056) 0 3px 8px -3px;
}

.header-block {
  display: flex;
  justify-content: space-between;
}

.user-aside-btn {
  display: none;
}

.user-aside-btn img {
  width: 40px;
  height: 40px;
}

.header-ul {
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 20px;
}

.header-ul a {
  transition: all 0.3s;
  text-decoration: none;
  color: #fff;
}

.header-ul a:hover {
  color: #44b3b4;
}

.header-logo {
  width: 120px;
}

.header-callback {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 40px;
  gap: 40px;
}

.header-callback a {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s;
  font-size: 20px;
}

.header-callback a:hover {
  color: #44b3b4;
}

.callback-tel {
  color: black;
}

.callback-tel-pop {
  padding: 12px 16px;
  text-align: center;
  font-size: 20px;
  border-radius: 32px;
  background: #44b3b4;
  border: none;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s;
}

.callback-tel-pop:hover {
  background: rgb(184, 237, 255);
  color: #000 !important;
}

.callback-tel-mobile {
  display: none;
}

.about-title-h4 {
  font-size: 56px;
  margin-bottom: 24px;
}

.about-text-title {
  position: relative;
  font-size: 24px;
  margin-bottom: 8px;
}

.about-text-title::before {
  content: "";
  position: absolute;
  display: block;
  left: -15px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #44b3b4;
  -webkit-transform: translateY(7px);
  -o-transform: translateY(7px);
  transform: translateY(7px);
}

.about-text-mobile {
  display: none;
}

.about-text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}

.about-text--left, .about-text--right{
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #000;
  max-width: 60%;
}

.about-text--right {
  align-self: center;
  gap: 32px;
  max-width: 30%;
}

.about-text--big {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
}

.about-text-p {
  color: rgba(0, 0, 0, 0.7);
}

.slider-box {
  position: relative;
}

.slider-box::before {
  content: "";
  position: absolute;
  bottom: -60px;
  right: 0;
  background-image: url(../imgs/and.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
  height: 300px;
  width: 260px;
}

.slick-slider {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.slick-prev:before, .slick-next:before {
  color: #000 !important;
}

.slick-track *{
  outline: none ;
}

.slick-list {
  border-radius: 10px;
}

.slick-slide img{
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 99.9%;
}

.about-items {
  display: flex;
  flex-direction: column;
  gap: 120px;
  margin-top: 120px;
}

.about-item {
  display: flex;
  justify-content: space-between;
}

.about-item--text {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-wrap: anywhere;
}

.item-header {
  width: 36px;
  height: 36px;
  margin-bottom: 16px;
  fill: #44b3b4;
}

.item-info {
  font-size: 40px;
  margin-bottom: 20px;
}

.item-paragraph {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.7);
}

.about-textBlock {
  margin: auto 72px;
}

.about-item--slider {
  width: 60%;
}

.about-items .slick-slider {
  margin: 0;
  width: 100%;
}

.useless-block {
  display: flex;
  position: relative;
  height: 380px;
  justify-content: center;
  align-items: center;
  background: none;
}

.useless-block::before {
  content: '';
  position: absolute;
  background-image: url(../imgs/background-gradient.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.useless-block-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  border-radius: 16px;
  margin-bottom: 32px;
  z-index: 1;
}

.useless-block-ready h3{
  text-align: center;
}

.useless-block-text::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  background-image: url(../imgs/me.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
  height: 160px;
  width: 160px;
}

.useless-block-text > * {
  width: 100%;
}

.useless-block-text form {
  z-index: 1;
}

.form-block {
  display: flex;
  gap: 32px;
}

.useless-block-text form p {
  margin-top: 32px;
  font-size: 14px;
}

.useless-block-text form a {
  color: #44b3b4;
}

.useless-block-text .error-message {
  position: absolute;
  font-size: 20px;
}

.useless-block-text input {
  border-radius: 32px;
  width: 30%;
  outline: none;
  border: none;
}

.useless-block-text button {
  width: 30%;
}

.useless-block-text input {
  padding: 0px 16px;
}

.useless-block-text h3 {
  font-size: 44px;
}

.useless-block-text p {
  width: 100%;
  font-size: 24px;
  margin-bottom: 16px;
}

.useless-block-text a {
  margin: 0 auto;
  width: 50%;
}

.contacts-h2 {
  margin-top: 140px;
  font-size: 36px;
}

.contacts-info {
  display: flex;
  margin: 16px 0px 64px;
  gap: 8px;
}

.contacts-text {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.contacts-img {
  position: relative;
}

.contacts-img::before {
  content: '';
  position: absolute;
  background-image: url(../imgs/location.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  top: 2px;
  left: -20px;
}