.main {
  background: #E5E7EB;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.main-header {
  height: 100vh;
  background-size: cover;
  background-image: url(../imgs/headerBG.png);
  background-repeat: no-repeat;
  background-position: center;
}

.main-header::after {
  content: '';
  position: absolute;
  background: #000;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.header-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  position: fixed;
  background: rgba(255, 255, 255, 0.4);
  max-width: 100%;
  width: 100%;
  border-radius: 0px 0px 16px 16px;
  z-index: 2;
  box-shadow:
  inset rgba(0, 0, 0, 0.2) 0 -1px 16px,
  rgba(0, 0, 0, 0.056) 0 3px 8px -3px;
}

.header-ul {
  display: flex;
  align-items: center;
  padding: 16px;
  gap: 40px;
}

.header-ul-li {
  color: inherit;
  text-decoration: none;
}

.header-logo {
  width: 120px;
}

.header-callback {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 40px;
  gap: 40px;
}

.header-callback a {
  text-decoration: none;
}

.callback-tel {
  color: black;
}

.callback-tel-pop {
  padding: 8px 12px;;
  border-radius: 16px;
  color: #fff;
  background: rgb(203, 203, 203);
}

.main-content {
  background: #E5E7EB;
  height: 90vh;
}